body {
    background-color: darkseagreen;
    font-family:fantasy;
    text-align: center;
}
.navigation ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
.navigation li {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 1px;
}
#banner {
    background-image: url(images/Wisdom.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
#main {
    text-align: center;
    margin: 10px 10px;
    padding: inherit;
}
h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    border: thick double white;
}
h2 {
    text-align: center;
    font-size: 30px;
    border: medium solid maroon;
}
h3 {
    text-align: center;
    font-size: 30px;
    border: medium solid purple;
}
h4 {
    text-align: center;
    font-size: 30px;
    border: medium solid fuchsia;
}
p {
    color: darkred;
    font-size: 16px;
    line-height: 48px;
    padding: 10px 20px;
    border: medium dotted white;
}